p{
    font-size: 12px;
    line-height: 10px;
}

#site-title{
    background-color: aquamarine;
    color:rgb(67, 69, 69);
    padding: 10px;
}

.mute{
    color: gray;
}

.highlight{
    background-color: bisque;
}

.highlight-text{
    background-color: lightblue;
}

#override{
    background-color: yellow;
}